In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df =pd.read_csv('sample.csv')

In [3]:
datetime.now()

datetime.datetime(2024, 6, 14, 8, 36, 6, 647895)

In [4]:
df.dtypes

id                               object
name                             object
year_established                float64
country                          object
description                      object
url                              object
has_trading_incentive            object
trust_score                     float64
trust_score_rank                float64
trade_vol_24h_btc               float64
trade_vol_24h_btc_normalized    float64
trade_vol_24h_usd_normalized    float64
trade_vol_24h_usd               float64
age_of_exchange                 float64
ingested_at                      object
dtype: object

In [6]:
df.head()

,id,name,year_established,country,description,url,has_trading_incentive,trust_score,trust_score_rank,trade_vol_24h_btc,trade_vol_24h_btc_normalized,trade_vol_24h_usd_normalized,trade_vol_24h_usd,age_of_exchange,ingested_at
0,bybit_spot,Bybit,2018.0,British Virgin Islands,Bybit is a cryptocurrency exchange that offers...,https://www.bybit.com,False,10.0,1.0,69051.113160,44555.408320,2.982175e+09,4.621717e+09,6.0,2024-06-14 08:34:58.428855
1,gdax,Coinbase Exchange,2012.0,United States,NaN,https://www.coinbase.com/,False,10.0,2.0,32189.245381,32189.245381,2.154485e+09,2.154485e+09,12.0,2024-06-14 08:34:58.428855
2,okex,OKX,2017.0,Seychelles,NaN,https://www.okx.com,False,10.0,3.0,31836.100303,31836.100303,2.130848e+09,2.130848e+09,7.0,2024-06-14 08:34:58.428855
3,kucoin,KuCoin,2017.0,Seychelles,"Launched in September 2017, KuCoin is a global...",https://www.kucoin.com/,False,10.0,4.0,9832.625354,9832.625354,6.581156e+08,6.581156e+08,7.0,2024-06-14 08:34:58.428855
4,kraken,Kraken,2011.0,United States,NaN,https://www.kraken.com/,False,10.0,5.0,9557.453873,9557.453873,6.396979e+08,6.396979e+08,13.0,2024-06-14 08:34:58.428855

In [7]:
df['has_trading_incentive']

0      False
1      False
2      False
3      False
4      False
       ...
871    False
872    False
873    False
874    False
875    False
Name: has_trading_incentive, Length: 876, dtype: object

In [ ]:
import requests
def btc_usd_current_price() -> float:
    """
    Send a GET request to the API endpoint
    Extract the rate in USD from the response
    Convert to float, round to 2 decimal places, and return
    """
    response = requests.get('https://api.coincap.io/v2/rates/bitcoin')
    return round(float(response.json()['data']['rateUsd']), 2)

In [ ]:
btc_to_usd_rate = btc_usd_current_price()

In [ ]:
from datetime import datetime
def data_transformation(df: pd.DataFrame, btc_to_usd_rate: float ) -> pd.DataFrame:
    """
    Convert and format the trade volume in BTC to USD.
    Calculate the age of each exchange based on the current year and year established.

    Args:
        df (pd.DataFrame): The DataFrame containing the trade volume data
        and year established.
        btc_to_usd_rate (float): The current BTC to USD exchange rate.
        

    Returns:
        pd.DataFrame: The DataFrame with additional the columns.
    """
    # Convert the trade volume to USD
    df['trade_volume_24h_usd_normalized'] = df['trade_volume_24h_btc_normalized'] * btc_to_usd_rate
    df['trade_volume_24h_usd'] = df['trade_volume_24h_btc'] * btc_to_usd_rate
    
    # Format the USD values for readability
    df['trade_volume_24h_usd'] = df['trade_volume_24h_usd'].apply(lambda x: f"{x:.2f}")
    df['trade_volume_24h_usd_normalized'] = df['trade_volume_24h_usd_normalized'].apply(lambda x: f"{x:.2f}")

    df['age_of_exchange'] = datetime.now().year - df['year_established']
    
    # Print the DataFrame
    return df[['id', 'name', 'age_of_exchange', 'trade_volume_24h_btc', 'trade_volume_24h_btc_normalized', 'trade_volume_24h_usd', 'trade_volume_24h_usd_normalized']]

In [ ]:
data_transformation(df, btc_to_usd_rate)

In [ ]:
df['trade_volume_24h_usd_normalized'] = round((df['trade_volume_24h_btc_normalized'] * btc_usd_current_price()), 2)

In [ ]:
df['trade_volume_24h_usd_normalized'].head(5)