In [18]:
import pandas as pd

In [19]:
df =pd.read_csv('sample.csv')

In [39]:
df.year_established

0      2018.0
1      2017.0
2      2012.0
3      2013.0
4      2017.0
        ...
876       NaN
877       NaN
878       NaN
879       NaN
880    2023.0
Name: year_established, Length: 881, dtype: float64

In [ ]:
df[[, 'trade_volume_24h_btc', 'trade_volume_24h_btc_normalized']]

In [6]:
import requests
def btc_usd_current_price() -> float:
    """
    Send a GET request to the API endpoint
    Extract the rate in USD from the response
    Convert to float, round to 2 decimal places, and return
    """
    response = requests.get('https://api.coincap.io/v2/rates/bitcoin')
    return round(float(response.json()['data']['rateUsd']), 2)

In [28]:
btc_to_usd_rate = btc_usd_current_price()

In [47]:
from datetime import datetime
def data_transformation(df: pd.DataFrame, btc_to_usd_rate: float ) -> pd.DataFrame:
    """
    Convert and format the trade volume in BTC to USD.
    Calculate the age of each exchange based on the current year and year established.

    Args:
        df (pd.DataFrame): The DataFrame containing the trade volume data
        and year established.
        btc_to_usd_rate (float): The current BTC to USD exchange rate.
        

    Returns:
        pd.DataFrame: The DataFrame with additional the columns.
    """
    # Convert the trade volume to USD
    df['trade_volume_24h_usd_normalized'] = df['trade_volume_24h_btc_normalized'] * btc_to_usd_rate
    df['trade_volume_24h_usd'] = df['trade_volume_24h_btc'] * btc_to_usd_rate
    
    # Format the USD values for readability
    df['trade_volume_24h_usd'] = df['trade_volume_24h_usd'].apply(lambda x: f"{x:.2f}")
    df['trade_volume_24h_usd_normalized'] = df['trade_volume_24h_usd_normalized'].apply(lambda x: f"{x:.2f}")

    df['age_of_exchange'] = datetime.now().year - df['year_established']
    
    # Print the DataFrame
    return df[['id', 'name', 'age_of_exchange', 'trade_volume_24h_btc', 'trade_volume_24h_btc_normalized', 'trade_volume_24h_usd', 'trade_volume_24h_usd_normalized']]

In [48]:
data_transformation(df, btc_to_usd_rate)

,id,name,age_of_exchange,trade_volume_24h_btc,trade_volume_24h_btc_normalized,trade_volume_24h_usd,trade_volume_24h_usd_normalized
0,bybit_spot,Bybit,6.0,84827.509265,60562.525627,5736098100.57,4095282193.57
1,okex,OKX,7.0,47588.879220,47152.554675,3217994752.77,3188490168.46
2,gdax,Coinbase Exchange,12.0,42424.848705,42424.848705,2868799239.55,2868799239.55
3,huobi,HTX,11.0,41837.327031,34184.930165,2829070595.08,2311609932.77
4,kucoin,KuCoin,7.0,13591.503706,13591.503706,919067402.41,919067402.41
...,...,...,...,...,...,...,...
876,dackieswap-v3-mode,DackieSwap V3 (Mode),NaN,0.003072,0.000000,207.72,0.00
877,sobal,Sobal (Neon EVM),NaN,0.027684,0.000000,1872.03,0.00
878,defi_plaza,DefiPlaza,NaN,0.068286,0.000000,4617.56,0.00
879,binance_dex_mini,Binance DEX (Mini),NaN,6.909204,0.000000,467205.41,0.00
880,myswap-cl,mySwap-CL,1.0,4.351718,0.000000,294266.32,0.00

In [16]:
df['trade_volume_24h_usd_normalized'] = round((df['trade_volume_24h_btc_normalized'] * btc_usd_current_price()), 2)

In [17]:
df['trade_volume_24h_usd_normalized'].head(5)

0    4.135048e+09
1    3.219451e+09
2    2.896655e+09
3    2.334056e+09
4    9.279916e+08
Name: trade_volume_24h_usd_normalized, dtype: float64